<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Neumorphism UI">
    <meta name="author" content="Themesberg">

    <link rel="canonical" href="https://themesberg.com/product/ui-kits/neumorphism-ui/" />

    <!--  Social tags -->
    <meta name="keywords"
        content="neumorphism, neumorphism ui, neomorphism, neomorphism ui, neomorphism css, neumorphism css, neumorph, neumorphic, design system, login, form, table, tables, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, about us, account, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap 4, bootstrap4, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, themesberg, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
    <meta name="description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Neumorphism UI by Themesberg">
    <meta itemprop="description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
    <meta itemprop="image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@themesberg">
    <meta name="twitter:title" content="Neumorphism UI by Themesberg">
    <meta name="twitter:description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
    <meta name="twitter:creator" content="@themesberg">
    <meta name="twitter:image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="214738555737136">
    <meta property="og:title" content="Neumorphism UI by Themesberg" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demo.themesberg.com/neumorphism-ui/" />
    <meta property="og:image"
        content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg" />
    <meta property="og:description"
        content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages." />
    <meta property="og:site_name" content="Themesberg" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicon/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon/logo.png">
    <link rel="manifest" href="../static/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="../static/css/neumorphism.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->


</head>

<body>

    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
            <div class="container position-relative">
                <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
                    <img class="" src="../static/assets/img/favicon/logo.png">

                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                    <img src="../static/assets/img/favicon/logo.png" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

                        <a href="/team" class="nav-link">
                            <span class="nav-link-inner-text">Team</span>

                        </a>


                        <a href="/contact" class="nav-link">
                            <span class="nav-link-inner-text">Contact</span>

                        </a>


                        <a href="/support" class="nav-link">
                            <span class="nav-link-inner-text">Support</span>

                        </a>
                        <a href="/feed" class="nav-link">
                            <span class="nav-link-inner-text">Feed</span>

                        </a>
                        <!--
		  <a href="" class="nav-link">
                            <span class="nav-link-inner-text" style="visibility: hidden;">dharvenffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</span>

                        </a>
		  <a href="" class="nav-link" >
                                <span class="nav-link-inner-text">Sign out</span>
                               
                            </a>
                       </div>   
                       -->
        </nav>
    </header>



    <section class="section section bg-soft pb-5 overflow-hidden z-2">
        <div class="container z-2">
            <div class="row justify-content-center text-center pt-6">
                <div class="col-lg-8 col-xl-8" style="text-align:center;">

                    <h2 class="rw-sentence-IE">Meet the TEAM!</h2>

                    <p>"Many ideas grow better when transplanted into another mind than the one where they sprang up."
                        <br> <strong>Oliver Wendell Holmes</strong></p>
                </div>
            </div>
        </div>
        </div>



        <section class="section section-lg pt-0">
            <div class="container">
                <!-- Title -->
                <div class="row">
                    <div class="col text-center">
                        <h2 class="h5 mb-7" style="visibility: hidden;">Profile Cards</h2>
                    </div>
                </div>
                <!-- End of title-->
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-4 mb-6 mb-md-5">
                        <!-- Profile Card -->
                        <div class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div
                                    class="profile-image bg-primary shadow-inset border border-light rounded p-3 ml-3 mt-n5">
                                    <img src="../static/assets/img/team/dharven.jpeg" class="card-img-top rounded"
                                        alt="Bonnie Avatar">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 mb-2">Dharven Doshi</h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Team Member</span>
                                    <ul class="list-unstyled d-flex my-3">
                                        <li>
                                            <a href="https://www.linkedin.com/in/dharven-doshi-a497021b0/"
                                                target="_blank" aria-label="facebook social link"
                                                class="icon icon-xs icon-facebook mr-3">
                                                <span class="fab fa-linkedin"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://codepen.io/dharven123/pens/" target="_blank"
                                                aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                                                <span class="fab fa-codepen"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/ddharven007/" target="_blank"
                                                aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                                <span class="fab fa-instagram"></span>
                                            </a>
                                        </li>


                                    </ul>
                                    <p class="card-text">Java-Android Studio-Web developer-Content Writer. A normal guy
                                        trying to make a change in this world by writing codes in the computer.
                                        According to him, the two most powerful things in the world are Codes and Words.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>





                    <div class="col-12 col-md-6 col-lg-4 mb-6 mb-md-5">
                        <!-- Profile Card -->
                        <div class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div
                                    class="profile-image bg-primary shadow-inset border border-light rounded p-3 ml-3 mt-n5">
                                    <img src="../static/assets/img/team/shambhavi.jpeg" class="card-img-top rounded"
                                        alt="Bonnie Avatar">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 mb-2">Shambhavi Aggarwal</h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Team Member</span>
                                    <ul class="list-unstyled d-flex my-3">
                                        <li>
                                            <a href="https://www.linkedin.com/in/shambhavi-aggarwal-437804179/"
                                                target="_blank" aria-label="facebook social link"
                                                class="icon icon-xs icon-facebook mr-3">
                                                <span class="fab fa-linkedin"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/agg-shambhavi" target="_blank"
                                                aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                                <span class="fab fa-github"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.reddit.com/u/shambhavi-agg?utm_medium=android_app&utm_source=share"
                                                target="_blank" aria-label="dribbble social link"
                                                class="icon icon-xs icon-dribbble mr-3">
                                                <span class="fab fa-reddit"></span>
                                            </a>
                                        </li>


                                    </ul>
                                    <p class="card-text">Deep Learning and Computer Vision enthusiast who is well versed
                                        with working in Python. She is passionate about making the power of artificial
                                        intelligence accessible to the masses as a means to solve various issues.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>

                </div>

            </div>
            </div>
        </section>

        <section class="section section-lg pt-0">
            <div class="container">
                <!-- Title -->

                <!-- End of title-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 mb-6 mb-md-5">
                        <!-- Profile Card -->
                        <div class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div
                                    class="profile-image bg-primary shadow-inset border border-light rounded p-3 ml-3 mt-n5">
                                    <img src="../static/assets/img/team/bhargav.jpg" class="card-img-top rounded"
                                        alt="Bonnie Avatar">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 mb-2">Bhargav Akhani</h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Team Member</span>
                                    <ul class="list-unstyled d-flex my-3">
                                        <li>
                                            <a href="https://www.linkedin.com/in/bhargav-akhani-441818180"
                                                target="_blank" aria-label="facebook social link"
                                                class="icon icon-xs icon-facebook mr-3">
                                                <span class="fab fa-linkedin"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/bhargav2427" target="_blank"
                                                aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                                <span class="fab fa-github"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/codebreaker_bhargav_ab?igshid=174276p6cu07u"
                                                target="_blank" aria-label="slack social link"
                                                class="icon icon-xs icon-slack mr-3">
                                                <span class="fab fa-instagram"></span>
                                            </a>
                                        </li>

                                    </ul>
                                    <p class="card-text">Java-Python-Data-science enthusiast-A Fullstack Web
                                        Developer-Adobe PhotoShop. A complete programmer with a bit of photo editing
                                        skills, he always search for ways to make himself better than yesterday. He
                                        loves complex things and the process of solving it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>






                    <!-- End of Profile Card -->
                </div>

            </div>

            </div>
            </div>
        </section>
        <footer>


            <hr class="my-5">
            <div class="row">
                <div class="col">
                    <a class="d-flex justify-content-center">
                        <img src="../static/assets/img/favicon/logo.png" height="25" class="mb-3" alt="Themesberg Logo">
                    </a>
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">Copyright © Intelligent Vision
                            <span class="current-year">2020</span>. All rights reserved.</p>
                    </div>
                </div>
            </div>
            </div>
        </footer>







        <script src="../static/intro.js"></script>
        <script src="../static/typed.js"></script>
        <script src="../static/vendor/jquery/dist/jquery.min.js"></script>
        <script src="../static/vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../static/vendor/headroom.js/dist/headroom.min.js"></script>

        <!-- Vendor JS -->
        <script src="../static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
        <script src="../static/vendor/nouislider/distribute/nouislider.min.js"></script>
        <script src="../static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="../static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="../static/vendor/jarallax/dist/jarallax.min.js"></script>
        <script src="../static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="../static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
        <script src="../static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
        <script src="../static/vendor/prismjs/prism.js"></script>

        <script async defer src="https://buttons.github.io/buttons.js"></script>

        <script src="../static/assets/js/neumorphism.js"></script>
</body>

</html>